body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .error {
  margin-bottom: 10px;
  color: #b94a48;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 800px;
  background-color: white;
}
.container-narrow > hr {
  margin: 30px 0;
}

.banner {
  margin: 60px 0;
  text-align: center;
}
.banner h2 {
  font-size: 45px;
  line-height: 1;
}

.result {
  margin: 60px 0;
}
.result p + h4 {
  margin-top: 28px;
}

.label-green {
  background-color: #468847;
}
.label-orange {
  background-color: #f89406;
}
.label-red {
  background-color: #b94a48;
}

.footer {
  position: absolute;
}

#graphContainer canvas {
    margin: 5%;
}

@media (max-width: 767px) {
    #graphContainer {
        display: none;
    }
}
@media (max-width: 979px) and (min-width: 768px) {
    #graphContainer canvas{
        margin: 4%;
    }
}
