<!DOCTYPE html>
<html>
<head>
	<title>SPMS</title>
	<script type="text/javascript" src="./js/lib/angular.js"/></script>
	<script type="text/javascript" src="./js/lib/angular-resource.js"/></script>
	<script type="text/javascript" src="./js/lib/underscore.js"/></script>
	<script type="text/javascript" src="./js/lib/restangular.js"></script>
	<script type="text/javascript" src="./js/app/spms.js"></script>
</head>
<body ng-app='spms'>
	<div ng-controller="RESTCtrl">

	<div>{{students}}</div> 
	<button class="btn" ng-click="getStudents()">Get Students</button>

	<div>{{student}}</div> 
	<button class="btn" ng-click="getStudents(1)">Get Student(1)</button>

	<div>{{labs}}</div> 
	<button class="btn" ng-click="getLabs()">Get Labs</button>

	<div>{{lab}}</div> 
	<button class="btn" ng-click="getLabs(1)">Get Lab(1)</button>

	<div>{{results}}</div> 
	<button class="btn" ng-click="getResults()">Get All Results</button>

	<div>{{studentResults}}</div> 
	<button class="btn" ng-click="getStudentResults(4)">Get Student Results(4)</button>

	<div>{{addResponse}}</div> 
	<button class="btn" ng-click="addResults(1, '2', '75', 'green')">Add Results(1, 2, 75, 'green')</button>

	<div>{{userSession}}</div> 
	<button class="btn" ng-click="createSession('jbrett', 'password')">Login(jbrett, password)</button> {{userSession.valid}}

	<div>{{userSession}}</div> 
	<button class="btn" ng-click="createSession()">Logout()</button>

	<div>{{validSession}}</div> 
	<button class="btn" ng-click="checkSession()">Check Session()</button>

	</div>
</body>
</html>